{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Mahen CSS-->
    <link rel="stylesheet" href="{% static 'css/Mahendra/Dashboard.css'%}">
    <link rel="stylesheet" href="{% static 'css/Mahendra/index.css'%}">

    <link rel="icon" type="image/gif/png" href="{% static 'img/Logo.png'%}">
</head>

<body>
    <div class="col-2 p-0 m-0" style="z-index: 0;">
        <nav class="sidebar">
            <div class="sideback">
                <div class="sidebarTop d-flex flex-row pt-4">
                    <div class="ml-2">
                        <img src="{% static 'img/Logo.png'%}" alt="Gaga Addara Hotel"
                            style="width: 80px; height: 90px;">
                    </div>

                    <div class="d-flex flex-column ml-2">
                        <h3 class="pt-3" style="font-weight: bold;">Hotel</h3>
                        <h4 style="font-weight: bold;">Gaga Addara</h4>
                    </div>

                </div>

                <ul>
                    <li class="" style=" background-color: rgb(255, 255, 255 , 0.4); margin: 10px; border-radius: 5px;">
                        <a href="/admin"> <i class="fas fa-chart-pie mr-3"> </i> Dashboard</a>


                    </li>

                    <li><a class="dropBtn2" href="#"><i class="fas fa-box mr-3"></i>Packages<span
                                class="fas fa-sort-down secound-sp"></span></a>
                        <ul class="dropCont2">
                            <li><a href="hotelpackages/viewbooking">View Bookings</a></li>
                            <li><a href="hotelpackages/modifypackages">Modify Packages</a></li>
                            <li><a href="hotelpackages/offers">Offerss</a></li>
                        </ul>
                    </li>

                    <li><a class="dropbtnRooms" href="#"><i class="fas fa-bed mr-3"></i>Rooms<span
                                class="fas fa-sort-down rooms-sp"></span></a>
                        <ul class="dropContRooms">
                            <li><a href="">View Employees</a></li>
                            <li><a href="">Add Employee</a></li>
                        </ul>
                    </li>

                    <li><a class="dropbtnHalls" href="#"><i class="fas fa-hotel mr-3"></i>Reception Halls<span
                                class="fas fa-sort-down Halls-sp"></span></a>
                        <ul class="dropContHalls">
                            <li><a href="RHM/addrespackage">Add Packages</a></li>
                            <li><a href="RHM/viewres">View Packages</a></li>
                        </ul>
                    </li>

                    <li><a class="dropBtnMenu" href="#"><i class="fas fa-concierge-bell mr-3"></i>Food Menu<span
                                class="fas fa-sort-down Menu-sp"></span></a>
                        <ul class="dropContMenu">
                            <li><a href="">View Employees</a></li>
                            <li><a href="">Add Employee</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="dropBtn1" href="#"><i class="fas fa-users mr-3"></i>Employees <span
                                class="fas fa-sort-down first-sp"></span></a>
                        <ul class="dropCont1">
                            <li><a href="employeeList">View Employees</a></li>
                            <li><a href="addEmployees">Add Employee</a></li>
                            <li><a href="attendenceReport">Employee Report</a></li>
                            <li><a href="employeeAttendence">Record Attendence</a></li>
                        </ul>
                    </li>

                    <li><a class="dropBtnReport" href="#"><i class="fas fa-clipboard-list mr-3"></i>Payments<span
                                class="fas fa-sort-down Report-sp"></span></a>
                        <ul class="dropContReport">
                            <li><a href="cashDashboard">Payment Dashboard</a></li>
                            <li><a href="paymentReport">Payment Report</a></li>
                            <li><a href="revokedPayment">Revoked Payments</a></li>
                        </ul>
                    </li>


                    <li><a href=""><i class="fas fa-star-half-alt mr-3"></i>Feedback</a></li>
                    <li><a href=""><i class="far fa-id-card mr-3"></i>Contact Us</a></li>



                </ul>
            </div>
        </nav>
    </div>

</body>

</html>